<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <h1>Exchange Information</h1>
      <div class='exchangeInfo'>
        <ul>
          <li>Exchange Name: {{eC.exchange.name}}</li>
          <li>Theme: {{eC.exchange.theme}}</li>
          <li>Date of Exchange: {{eC.exchange.date_of_exchange | date:'mediumDate'}}</li>
          <li>Sign-up Deadline: {{eC.exchange.end_of_sign_up_date | date:'mediumDate'}}</li>
          <li>Max Price of gift: ${{eC.exchange.max_price}}</li>
          <li ng-show='eC.exchange.min_price'>Min Price of gift: {{eC.exchange.min_price}}</li>
        </ul>
      </div>
      <form id='signupForm'>
        <h3>Want to Join this Exchange?</h3>
        <div class="exchangeQuestions" ng-show='eC.exchange.customQuestions'>
          <p>Exchange Related Questions</p>
          <div class='form-group row exchangeSetting' ng-repeat='question in eC.exchange.customQuestions'>
            <label for="{{question.id}}"> {{question.content}}</label>
            <input class='form-control' type="text" placeholder='Your answer' id='{{question.id}}'>
          </div>
        </div>
        <button class='btn btn-primary'>Join</button>
      </form>

      <a href="#/dashboard">Back</a>
    </div>
  </div>
</div>
